
 <!-- Footer Start -->

<footer>
    <div class="container text-center">
      <p>Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}</p>
    <A HREF=http://www.hit-parade.com/hp.asp?site=p655338 TARGET=_top><IMG SRC=http://logp.hit-parade.com/logohp1.gif?site=p655338 TITLE="Hit-Parade" WIDTH=77 HEIGHT=15 BORDER=0></A>
    <a href="http://www.joelouvier.info/" title="European directory-Site-et-Blog-Nord-59" target="_blank">Annuaire-NORD-EUROPE</a>
    </div>

</footer>

<p><br><br><br><br><br><br></p>

<!-- Footer End -->
